# Local .terraform directories
**/.terraform/*

# Local code directories
**/build/*
**/builds/*
**/node_modules/*

# .tfstate static_site
*.tfstate
*.tfstate.*

# plan static_site
plan.out
*.zip

.idea
.iml

# Mac OS
.DS_Store

# Miscellaneous
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# JavaScript/Node
*.eslintrc.js
*.prettierrc.js
*.watchmanconfig
jest.config.js
metro.config.js